/*form label {
  color: #000 !important;
  position: static !important;
  top: unset !important;
  left: unset !important;
  display: block;
  -webkit-transition: unset !important;
  transition: unset !important;
}*/

/*img{
  height:auto !important;
}*/

header {
    
    background: url("https://ts.accenture.com/sites/bspace.ciostage/Pages/brand_assets/images/brand-assets-page-header-bkg.jpg") no-repeat;
}

@font-face {
    font-family: 'GraphikCustom';
    src: url('https://ts.accenture.com/sites/bspace.ciostage/assets/fonts/Graphik-Regular-App.ttf') format('truetype'),;
    font-weight:normal;
    font-style:normal
}

@font-face {
    font-family: 'SectraCustom';
    src: url('https://ts.accenture.com/sites/bspace.ciostage/assets/fonts/GT-Sectra-Display-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}
.row{
  margin-left:0 !important;
  margin-right:0 !important;
  }
.tab-label{
  color: #000 !important;
    position: static !important;
    top: unset !important;
    left: unset !important;
    display: block;
    -webkit-transition: unset !important;
    transition: unset !important;
}
@media (max-width: 1280px) {
  .img-zoom img {
    height: 100% !important;
  }
  .img-zoom .image-container {
    width: 100% !important;
  }
  .four-col .four-zoom{
    display: table !important;
  }
  .four-zoom .four-col-item{
    width: 40%;
    display: table-cell !important;
    float: left !important;
  }
  .five-col .five-zoom{
    display: table !important;
  }
  .five-zoom .five-col-item{
    width: 30% !important;
    float: left !important;
    display: table-cell !important;
  }
  .five-zoom .five-col-item .image{
    margin-bottom: 2rem !important;
  }
/*  .image.with-margin {
    width: calc(100% - 2rem - 2rem);
    margin: 0 2rem 1rem;
  }*/
}
@media (max-width: 960px) {
  .img-zoom img {
    height: 100% !important;
  }
  .img-zoom .image-container {
    width: 100% !important;
  }
  .four-zoom .four-col-item{
    width: 100%;
  }
  .five-zoom .five-col-item{
    width: 100% !important;
    float: left !important;
  }
  .img-zoom .with-margin {
    width: calc(100% - 2rem - 2rem);
    margin: 0 2rem 1rem;
  }
}



.audioCon{
  width: 100%;
  margin: 2.4rem 0rem 2.4rem 6rem;
}

@media (max-width: 850px) {
  .audioCon {
    margin: 0rem !important;
  }
  .audio_wrapper{
    width: 90% !important;
  }
  .audioIcon{
    width: 7% !important;
  }
  .btn_audio{
    background-size: 50% !important;
    margin: 0.5rem 0rem 0rem 1.8rem !important;
  }
}

@media screen and (max-width: 1024px){
  .audioIcon{
    width: 6% !important;
  }

  .audio_wrapper{
    width: 70% !important;
  }
}

@media (min-width: 1500px) {
  .audioCon {
    margin: 2.4rem 9rem;
  }
  .btn_audio{
    margin: 0rem 0rem 0rem 0.8rem;
  }
  .audio_mute img{
    margin-top: 0.6rem;
  }
}

audio:focus{
    outline:none;
    color: #a100ff;
}

.audio_player{
  width: 20%;
}

.audio_El{
    width: 100%;
}

.audio_wrapper{
    height: 3.5rem;
    width: 40%;
    display: flex;
    background-color: #f9f9f9;
}

.audioIcon{
    width: 4%;
    float: left;
}

.audioIcon img{
    height: 35px;
}

.btn_audio{
    background: #ccc;
    background: url("https://ts.accenture.com/sites/bspace.ciostage/Pages/brand_typography/images/Play.png") no-repeat;
    background-size: 58%;
    width:  100%;
    margin: 0.4rem 0rem 0rem 0.8rem;;
    height: 100%;
    cursor: pointer;
}

.audio_progress{
    margin-top: 15px;
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #ccc;
    border-radius: unset;
    cursor: pointer;
}

.audio_time{
    font-size: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 35%;
    line-height: 30px;
    margin-left: 1rem;
    margin-top: 0.3rem;
}

.audio_mute{
    width: 20%;
    cursor: pointer;
}

.audio_mute img{
    width: 50%;
    margin-top: 0.7rem;
    margin-left: 1rem;
}

.audio_slide{
    position: absolute;
    top: 0;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #a100ff;
}

.audio_fill{
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #a100ff;
}

.audio_download{
    width: 100%;
    margin: 2.4rem 0rem 2.4rem 0rem;
}

.audio_downloadCon{
    width: 35%;
    float: left;
}

.audio_downloadLink{
    display: inline-flex;
    height: 2.5rem;
    width: 2.5rem;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.audio_downloadIcon{
    stroke: #a100ff;
    position: relative;
    right: 0.05rem;
}

.audio_downloadLink:hover, .audio_downloadLink:active {
 background: rgb(161, 0, 255); 
}

.audio_downloadLink:hover svg, .audio_downloadLink:active svg 
{ 
  stroke: rgb(255, 255, 255); 
}
.bodyChange{
    overflow: hidden;
}

.modal-open, .modal-open .navbar-fixed-top,.modal-open .navbar-fixed-bottom {
            margin-right: 0;
}
.modalTG{
	position: fixed;
	bottom: auto;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 4050;
  width: auto;
  height: auto;
}
  
.modal-backdrop{
    z-index: 4040;
    opacity: 1 !important;

}
.modal-header {
    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px 15px 0 15px;
}
.modal.container {
    max-width: none;
}

/*************LEFTPART**************/

.typography-section{
    display:grid;
    grid-template-columns: 30% 70%;
    height:120vh;
    font-family: Arial, Helvetica, sans-serif

}

.typography-section p{
    font-size: 13px;
}

.left-typography {
    background-color: black;
    color:white;
    padding: 10px 45px 45px 45px;
}

.left-typography p{
    margin-bottom: 75px;
}

.left-typography h4, .golden-ratio h4 {
    margin-bottom: 35px;
}

.left-typography.golden-ratio {
	margin-top: 35px;
}
/*************RIGHTPART**************/

.right-typography {

}

.right-top-headers {
    display: grid;
    grid-template-columns:40% 60%;
    padding-top:5px;
    padding-left:45px;
}

/**************Containers***************/

.reusable-section {
    display: grid;
    grid-template-columns:40% 60%;
}

.right-details-container{
    margin-top:75px;
    padding-left:45px;
}

.reusable-section h6{
    margin-bottom: 15px;
    font-weight:normal;
}

.reusable-section h5{
    margin-bottom: 20px;
}

.font-title {
    padding-right:65px;
}

.font-details {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.row-weight, .row-use-for, .row-example{
    padding:12px;
}
.header-typo {
    font-weight: normal;
    padding:0px 12px 12px 12px;
    font-size: 11px;
}
.row-weight, .row-use-for, .row-example {
    border-top: 1px solid black;
}
.row-use-for, .row-example {
    font-size: 9px;
}


.b-section {
    margin-top:95px;
}

.grid-six-col {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 5px;
    row-gap: 5px;
}


/******SUBTITUTE COMPONENT*******/
.substitute{
    font-family: Arial, Helvetica, sans-serif;
}
.substitute .left-typography{
    color:black !important;
    background-color: white !important;
}

.substitute .font-details{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1.3fr;
}

.substitute .right-details-container{
    margin-top:75px;
    padding-left:35px;
   
}



.substitute .reusable-section {
    display: grid;
    grid-template-columns: 85%;
    margin-bottom:60px;

}

.languages-example{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.chinese, .arabic{
    margin-top:15px
}

.language-semi-bold{
    font-weight:bold;
}

.language-bold{
    font-weight:bolder;
}

.arial{
    font-family: Arial, Helvetica, sans-serif
}

.courier{
    font-family: 'Courier New', Courier, monospace;
}

.typography-section h4{
    font-size: 45px;
}

.typography-section h5,.golden-ratio h5 {
    font-size:24px;
}

.typography-section h6{
    font-size:16px;
}


.note {
    padding-right:10px;
    color:RGB(161, 0, 255);
    display:flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.note p{
    font-size:10px;
}

.note i{
    padding: 2px 1px 1px 0px;
    
}

#typo-title{
    color:white !important;
}

.graphik{
    font-family: 'GraphikCustom', sans-serif !important;
}

.sectra{
    font-family: 'SectraCustom', sans-serif !important;
}

.golden-ratio .note-section {
	margin-top: 75px
}

/****PAGE31****/

.thirty-one .wrapper {
	padding: 0 5rem 0 5rem;
}

.thirty-one .grid {
	display: grid;
    grid-template-columns: 1fr 3fr 3fr 2fr 4fr;
    column-gap: 5px;
    row-gap:5px;
    padding: 20px;
}

.thirty-one .grid_6 {
	display: grid;
  	grid-template-columns: repeat(6, 1fr);
    column-gap: 25px;
    row-gap:10px;
}

.thirty-one .grid_4 {
	display: grid;
  	grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
    row-gap:20px;
}
.thirty-one .grid_4_graphik {
	display: grid;
  	grid-template-columns: 1fr 1fr 3fr;
    column-gap: 25px;
	
}
.thirty-one .grid_3 {
	display: grid;
  	grid-template-columns: 1fr 3fr;
    column-gap: 25px;
    row-gap:40px;
}

.thirty-one .column {
  display: flex;
  flex-direction: column;
  row-gap:10px;
}

.thirty-one .row {
	display: flex;
  	flex-direction: row;
  	row-gap:50px;
	
}

.thirty-one .column img {
    width: 100%;
  height: 100%;
  }

.thirty-one .card p {
  font-size: 0.95rem;
  color: #555;
}

.thirty-one .large-card {
  grid-column: span 2;
}

.thirty-one .border_top {
	border-top: .5px solid black;
	width: 100%;
	margin: 20px 0 20px -20px;
}